<template>
  <b-card>
    <template #header>
      <div class="col-12 p-0 text-right">
        <b-button variant="success" class="mb-2 mr-sm-2 mb-sm-0" @click="saveEditedSource"><b-icon icon="check"></b-icon></b-button>
        <b-button variant="warning" class="mb-2 mb-sm-0" @click="cancelEdit"><b-icon icon="arrow90deg-left"></b-icon></b-button>
      </div>
    </template>
    <b-form>
      <b-form-group
        id="source-title"
        label="Title"
        label-for="source-input-title">
        <b-form-input
          id="source-input-title"
          placeholder="Source Title"
          v-model="source.title"
          required>
        </b-form-input>
      </b-form-group>
      <b-form-group
        id="source-text"
        label="Text"
        label-for="source-input-text">
        <b-form-textarea
          id="source-input-text"
          v-model="source.text"
          placeholder="Source Text"
          rows="3"
          max-rows="8"
          required>
        </b-form-textarea>
      </b-form-group>
    </b-form>
  </b-card>
</template>

<script>
export default {
  props: {
    source: {}
  },
  methods: {
    saveEditedSource () {
      this.$emit('editedSource', this.source)
    },
    cancelEdit () {
      this.$emit('status', false)
    }
  }
}
</script>
