<template>
  <div>
    <edit-source v-if="source.status" :source="source" @editedSource="sendEditedSource" @status="cancelEdit"></edit-source>
    <view-source v-else :source="source" @startEditSource="startEditSource" @removeSource="removeSource"></view-source>
  </div>
</template>

<script>
import editSource from './edit.vue'
import viewSource from './view.vue'
export default {
  components: {
    editSource,
    viewSource
  },
  props: {
    source: {}
  },
  methods: {
    sendEditedSource (val) {
      this.$emit('editedSource', val)
    },
    cancelEdit (val) {
      this.$emit('cancelEdit', val)
    },
    startEditSource (val) {
      this.$emit('startEditSource', val)
    },
    removeSource (val) {
      this.$emit('removeSource', val)
    }
  }
}
</script>
