<template>
  <b-card :title="source.title">
    <template #header>
      <div class="col-12 p-0 text-right">
        <b-button variant="secondary" class="mb-2 mr-sm-2 mb-sm-0" @click="editSource"><b-icon icon="pencil"></b-icon></b-button>
        <b-button variant="danger" class="mb-2 mb-sm-0"><b-icon icon="x" @click="removeSource"></b-icon></b-button>
      </div>
    </template>
    <p>{{ source.text }}</p>
  </b-card>
</template>

<script>
export default {
  props: {
    source: {}
  },
  methods: {
    editSource () {
      this.$emit('startEditSource', this.source)
    },
    removeSource () {
      this.$emit('removeSource', this.source)
    }
  }
}
</script>
