<template>
  <div id="main">
    <div class="header">
      <h1 class="header-title">String Matching App</h1>
    </div>
    <div class="content container-fluid">
      <div class="col-lg-12">
        <b-card class="mt-3">
          <b-form inline>
            <label class="mr-sm-2 font-weight-bold" for="string-pattern">String Pattern</label>
            <b-form-input
              id="string-pattern"
              class="mb-2 mr-sm-2 mb-sm-0 col-7"
              v-model="pattern"
              placeholder="Type string pattern here..."
              required>
            </b-form-input>
            <b-button variant="primary" class="mb-2 mr-sm-2 mb-sm-0" :disabled="!pattern || !selectedSourceId" @click="findBruteForceMatch">Find Match using Brute Force</b-button>
            <b-button variant="primary" class="mb-2 mr-sm-2 mb-sm-0" :disabled="!pattern || !selectedSourceId" @click="findKMPMatch">Find Match using KMP</b-button>
          </b-form>
          <b-alert class="mt-3" :show="result !== null" dismissible @dismissed="result = null">
            {{ result }}
          </b-alert>
        </b-card>
        <b-card class="mt-3" title="String Sources" sub-title="Sources to be matched with the pattern">
          <template #header>
            <div class="row">
              <div class="col-8">
                <b-form-select v-model="selectedSourceId" :options="sourcesOptions" :disabled="sourcesOptions.length < 2"></b-form-select>
              </div>
              <div class="col-4 text-right">
                <b-button variant="primary" class="mb-2 mb-sm-0" @click="addSource" :disabled="disableAdd"><b-icon icon="plus"></b-icon></b-button>
              </div>
            </div>
          </template>
          <new-source-component v-if="tempSource" :source="tempSource" @editedSource="getEditedSource" @status="cancelEdit"></new-source-component>
          <source-component v-else-if="selectedSource && !tempSource" :source="selectedSource" @editedSource="getEditedSource" @cancelEdit="cancelEdit" @startEditSource="startEditSource" @removeSource="removeSource"></source-component>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import sourceComponent from '~/components/modules/string-source'
import newSourceComponent from '~/components/modules/string-source/edit'
export default {
  components: {
    sourceComponent,
    newSourceComponent
  },
  data () {
    return {
      pattern: '',
      sources: [],
      sourcesOptions: [
        { value: null, text: 'Please select a source' }
      ],
      selectedSourceId: null,
      selectedSource: null,
      tempSource: null,
      result: null
    }
  },
  computed: {
    disableAdd () {
      return _.some(this.sources, ['status', true]) || !_.isEmpty(this.tempSource)
    }
  },
  methods: {
    addSource () {
      let sourcesLength = this.sources.length
      let id = sourcesLength + 1
      this.tempSource = {
        id: id,
        status: true,
        title: '',
        text: ''
      }
    },
    getEditedSource(val) {
      let index = this.getIndexbyVal(this.sources, 'id', val.id)
      if (index < 0) {
        let tempSource = {
          ...val,
          status: false
        }
        this.sources.push(tempSource)
        this.sourcesOptions.push({
          value: val.id, text: val.title
        })
        this.tempSource = null
      } else {
        let indexOption = this.getIndexbyVal(this.sourcesOptions, 'value', val.id)
        this.sources[index].title = val.title
        this.sources[index].text = val.text
        this.sources[index].status = false
        this.sourcesOptions[indexOption].text = val.title
      }
    },
    cancelEdit (val) {
      let index = this.getIndexbyVal(this.sources, 'status', true)
      this.sources[index].status = val
    },
    startEditSource (val) {
      let index = this.getIndexbyVal(this.sources, 'id', val.id)
      this.sources[index].status = val
    },
    removeSource (val) {
      let index = this.getIndexbyVal(this.sources, 'id', val.id)
      let indexOption = this.getIndexbyVal(this.sourcesOptions, 'value', val.id)
      this.sources.splice(index, 1)
      this.sourcesOptions.splice(indexOption, 1)
      this.selectedSourceId = null
      this.selectedSource = null
    },
    getIndexbyVal (data, key, val) {
      return _.findIndex(data, [key, val])
    },
    async findBruteForceMatch () {
      let start = performance.now()
      let result = await this.executeBruteForce(this.pattern, this.selectedSource.text)
      let end = performance.now()
      this.result = 'The result of string matching between (' + this.selectedSource.title + ') source and pattern (' + this.pattern + ') using Brute Force is ' + (result ? JSON.stringify(result) : ' no matched ') + ' in ' + (end - start) + ' ms.'
    },
    executeBruteForce (pattern, source) {
      let p = pattern.length
      let s = source.length
      let result = []
      for (let i = 0; i < s - p; i++) {
        let matched = true
        for (let j = 0; j < p - 1; j++) {
          if (pattern.charAt(j) == '*') {
            break
          } else if (source.charAt(i + j) != pattern.charAt(j)) {
            matched = false
            break
          }
        }
        if (matched) {
          result.push(i)
        }
      }
      return result
    },
    async findKMPMatch () {
      let start = performance.now()
      let result = await this.executeKMP(this.pattern, this.selectedSource.text)
      let end = performance.now()
      this.result = 'The result of string matching between (' + this.selectedSource.title + ') source and pattern (' + this.pattern + ') using KMP is ' + (result ? JSON.stringify(result) : ' no matched ') + ' in ' + (end - start) + ' ms.'
    },
    executeKMP (pattern, source) {
      let next = this.calcNextPattern(pattern)
      let p = pattern.length
      let s = source.length
      let result = []
      let i = 0
      let j = 0

      while(i < (s-p)) {
        if (source[i] === pattern[j] || pattern[j] === '*') {
          i++
          j++

          if (j === p) {
            result.push(i-p)
            j = next[j-1] + 1
          }
        } else {
          if (j === 0) {
            i++
          } else {
            j = next[j-1] + 1
          }
        }
      }
      return result
    },
    calcNextPattern (pattern) {
      let next = [-1]
      let p = pattern.length
      let j = -1

      for (let i = 1; i < p; i++) {
        while (pattern[i] !== pattern[j + 1] && j > -1) {
          j = next[j]
        }
        if (pattern[j + 1] === pattern[i]) {
          j++
        }
        next[i] = j
      }

      return next
    }
  },
  watch: {
    selectedSourceId: {
      handler: function (val) {
        if (val) {
          let index = this.getIndexbyVal(this.sources, 'id', val)
          this.selectedSource = this.sources[index]
        } else {
          this.selectedSource = null
        }
      },
      deep: true
    }
  }
}
</script>

<style>
  .header{
    position: relative;
    background: linear-gradient(87deg,#2dce89,#2dcecc) !important;
    padding-top: 8rem !important;
    font-family: Roboto;
  }
  .header-title{
    position: absolute;
    top: 35px;
    left: 35px;
    color: #fff;
    text-transform: uppercase;
  }
  .container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
